
@model dynamic
@using EvlerKiralik.DAL.Entities
@{
    ViewData["Title"] = "EditGonderi";
    Layout = "~/Views/Shared/MenuLayout_.cshtml";

}
<link rel="stylesheet" href="@Url.Content("~/css/EditGonderi.css")" asp-append-version="true" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<!-- include libraries(jQuery, bootstrap) -->
<link href="@Url.Content("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js")" rel="stylesheet" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">



<link href="@Url.Content("/fontawesome/css/font-awesome.css")" rel="stylesheet">
<link href="@Url.Content("/fontawesome/css/brands.css")" rel="stylesheet">
<link href="@Url.Content("/fontawesome/css/solid.css")" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="/css/menulayout.css" />




@section Scripts
    {

    <script>
        $(function () {
            // Multiple images preview in browser
            var imagesPreview = function (input, placeToInsertImagePreview) {

                if (input.files) {
                    var filesAmount = input.files.length;

                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();

                        reader.onload = function (event) {
                            $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                        }

                        reader.readAsDataURL(input.files[i]);
                    }

                }

            };

            $('#gallery-photo-add').on('change', function () {
                imagesPreview(this, 'div.gallery');


            });
        });
    </script>
    <script>
        $(function () {
            $("#imageListId").sortable({
                update: function (event, ui) {
                    getIdsOfImages();
                } //end update
            });
        });

        function getIdsOfImages() {
            var values = [];
            $('.listitemClass').each(function (index) {
                values.push($(this).attr("id")
                    .replace("imageNo", ""));
            });
            $('#outputvalues').val(values);
        }
    </script>

    <script>
        $(function () {
            $("ol.example").sortable();
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {


            $("#sortable").sortable({
                cursor: "move",
                cursorAt: { left: 1 },



            });
        });
    </script>



    <script>
        $(function () {
            $('#brow1').change(function () {
                var id = $('#brow1').val();
                $.ajax({
                    url: '/Home/ilcegetir',
                    data: { p: id },
                    type: "POST",
                    dataType: "Json",
                    success: function (data) {

                        console.log(data);
                        $('#brow2').empty();
                         $('#brow2').append("<option selected>İlçe Seçiniz</option>")
                        for (var i = 0; i < data.length; i++) {
                            $('#brow2').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                        }
                    }
                });
            });
        });
    </script>

    <script>
        $(function () {
            $('#brow2').change(function () {
                var id = $('#brow2').val();
                $.ajax({
                    url: '/Home/mahallegetir',
                    data: { m: id },
                    type: "POST",
                    dataType: "Json",
                    success: function (data) {

                        console.log(data);
                        $('#brow3').empty();
                        $('#brow3').append("<option selected>Mahalle Seçiniz</option>")
                        for (var i = 0; i < data.length; i++) {
                            $('#brow3').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                        }
                    }
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('#brow3').change(function () {
                var id = $('#brow3').val();
                $.ajax({
                    url: '/Home/sokakgetir',
                    data: { k: id },
                    type: "POST",
                    dataType: "Json",
                    success: function (data) {

                        console.log(data);
                        $('#brow4').empty();
                        $('#brow4').append("<option selected>Sokak Seçiniz</option>")
                        for (var i = 0; i < data.length; i++) {
                            $('#brow4').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                        }
                    }
                });
            });
        });
    </script>

    <script>
        function validateform()
        {

            let x = document.forms["ilanduzenlemeform"]["ilansokak"].value;
            let y = document.forms["ilanduzenlemeform"]["ilanilce"].value;
            let z = document.forms["ilanduzenlemeform"]["ilanmahalle"].value;
            if (x == "Sokak Seçiniz") {
            alert("Sokak Seçimi Yapınız");
            return false;
        }
        if(y=="İlçe Seçiniz")
        {
            alert("İlçe Seçimi Yapın");
            return false;
        }
        if(z=="Mahalle Seçiniz")
        {
            alert("Mahalle Seçimi Yapın");
            return false;
        }
        }

        </script>
}


<div class="editform" >

        
    @foreach (KirayaVerme detaygonder in Model.ResimGonderiDetay)
    {
            <form name="ilanduzenlemeform" onsubmit="return validateform()" method="post" action="/Home/GonderiKaydet" class="ilaneditform">
       
                <input type="text" value="@detaygonder.IlanId" name="ilanid" hidden>

            <span class="formelespanContext">
                <span class="eleheadertextContext">
                    <a>İlan Adı</a>
                </span>

                <input class="inputContext" type="text" name="ilanadi" value="@detaygonder.IlanAdi" %;">
                </span>



            <span class="formelespan">
                <span class="eleheadertext">İl Adı</span>
                    <select id="brow1" name="ilanil" class="input" style="width:80%;" ">
                        @foreach (Iller iller in Model.IlListesi)
                        {@if (iller.İlAdi == detaygonder.IlanIl)
                            {
                            <option title="@iller.IlId" id="@iller.IlId" value="@iller.IlId" selected>@iller.İlAdi </option>


                            }
                            else
                            {
                             <option title="@iller.IlId" id="@iller.IlId" value="@iller.IlId">@iller.İlAdi </option>
                            }

                        }
                    </select>
                    </span>


                      <span class="formelespan">
                      <span class="eleheadertext">
                  
                      İlçe Adı                  
                        </span>
                      <select id="brow2" name="ilanilce" class="input" style="width:80%;">
                        @foreach (Ilceler ilceler in Model.IlceListesi)
                        {
                            
                                @if (ilceler.IlceAdi == detaygonder.IlanIlce)
                                {
                                    <option title="@ilceler.IlceId" id="@ilceler.IlceId" value="@ilceler.IlceId" selected>@ilceler.IlceAdi </option>
                                }
                                else
                                {
                                    <option title="@ilceler.IlceId" id="@ilceler.IlceId" value="@ilceler.IlceId">@ilceler.IlceAdi </option>
                                }
                            }
                        
                    </select>
                  
                     </span>
                       <span class="formelespan">
                    <span class="eleheadertext">Mahalle Adı</span>
                 
                <select id="brow3" name="ilanmahalle" class="input" style="width:80%;">
                        @foreach (Mahalleler mahalleler in Model.Mahalleler)
                        {@if (mahalleler.MahalleAdi == detaygonder.IlanMahalle)
                            {
                                <option title="@mahalleler.MahalleId" id="@mahalleler.MahalleId" value="@mahalleler.MahalleId" selected>@mahalleler.MahalleAdi </option>
                            }
                            else
                            {
                                <option title="@mahalleler.MahalleId" id="@mahalleler.MahalleId" value="@mahalleler.MahalleId" >@mahalleler.MahalleAdi </option>
                            }

                        }
                    </select>

                  
                    </span>

                  <span class="formelespan">
                    <span class="eleheadertext"> Sokak Adı </span>                   
                    @* SOKAKLAR*@
                    <select id="brow4" name="ilansokak" class="input" style="width:40%;">
                        @foreach (Sokaklar sokaklar in Model.Sokaklar)
                        {@if (sokaklar.SokakAdi == detaygonder.IlanSokak)
                            {
                                <option title="@sokaklar.SokakId" id="@sokaklar.SokakId" value="@sokaklar.SokakId" selected>@sokaklar.SokakAdi </option>
                            }
                            else
                            {
                                <option title="@sokaklar.SokakId" id="@sokaklar.SokakId" value="@sokaklar.SokakId" >@sokaklar.SokakAdi </option>
                            }

                        }                    </select>
                        </span>

                  <span class="formelespan">
                      <span class="eleheadertext">
                         Ev Tip:
                    </span>
                         <select class="input" ="evtiplist" name="ilanVerEvTip" class="input" placeholder="Ev Tip List" autocomplete="off">
                      
                            @foreach (EvTip EvTipListe in Model.EvTipListe)
                        {
                            
                        
                        if(EvTipListe.EvTipName == detaygonder.EvTip)
                            {
                                <option selected>@EvTipListe.EvTipName </option>
                            }
                            else
                            {
                                <option>@EvTipListe.EvTipName </option>
                            }

                        }
                    </select>
                    </span>

                    <span class="eleheadertext">

                  <span class="formelespan">
                  
                    <span class="eleheadertext">
                    Odalist
                </span>
                    <select class="input" name="ilanVerOdaSayi" class="input" placeholder="Oda Sayısı List" autocomplete="off">

                            @foreach (OdaSayisi OdaSay in Model.OdaSayiListe)
                            {
                      

                             if(OdaSay.OdaSayisi1 == detaygonder.OdaSayisi)
                            {
                                <option selected>@OdaSay.OdaSayisi1 </option>

                            }
                            else
                            {
                                <option>@OdaSay.OdaSayisi1 </option>
                            }
                           
                            }
                    </select>
                   
                    </span>

            <span class="formelespan">
                    Banyo Sayi:
                    <span class="eleheadertext">
                        <select  name="ilanVerBanyoSayi" class="input" placeholder="Banyo Sayı List"  />
                            @foreach (BanyoSayi BanyoSay in Model.BanyoSayiListe)
                            {
                            if (BanyoSay.BanyoSayi1 == detaygonder.BanyoSayisi)
                            {
                                <option selected>@BanyoSay.BanyoSayi1 </option>

                            }
                            else
                            {
                                <option>@BanyoSay.BanyoSayi1 </option>
                            }
                            }
                        </select>
                        </span>
                        </span>


                        <span class="formelespan">
                            Balkon Sayi
                            <span class="eleheadertext">
                        <select l name="ilanVerBalkonSayi" class="input" placeholder="Balkon Sayı List" autocomplete="off" />
                       
                            @foreach (BalkonSayi Balkonsay in Model.BalkonSayiListe)
                            {

                            
                            if (Balkonsay.BalkonSayi1 == detaygonder.Balkon)
                            {
                                <option selected>@Balkonsay.BalkonSayi1 </option>

                            }
                            else
                            {
                                <option>@Balkonsay.BalkonSayi1 </option>
                            }
                            }
                        </select>
                        </span>
                            </span>

                            <span class="formelespan">
                                <span class="eleheadertext">
                                    Isıtma Tür
                                </span>

                            <select  name="ilanVerIsitmaTip" class="input" placeholder="Isıtma Tür List" autocomplete="off" />                        
                            @foreach (IsitmaTur IsitmaTu in Model.IsitmaListe)
                            {
                               if(IsitmaTu.IsitmaTur1 == detaygonder.IsitmaTuru)
                            {
                                <option selected>@IsitmaTu.IsitmaTur1 </option>

                            }
                            else
                            {
                                <option>@IsitmaTu.IsitmaTur1 </option>
                            }}
                           </select>
                   </span>


                        <span  class="formelespan">
                            <span class="eleheadertext">
                         Eşyalı mı?:
                         </span>
                    <select class="input" name="ilanVerEsyaliCheck" class="input" placeholder="Eşyalı Check List" autocomplete="off">
                            @foreach (IsEsyali IsEsyal in Model.EsyaliCheckListe)
                            if (IsEsyal.IsEsyali1 == detaygonder.Esyali)
                            {
                                <option selected>@IsEsyal.IsEsyali1 </option>

                            }
                            else
                            {
                                <option>@IsEsyal.IsEsyali1 </option>
                            }
                        </select>
                  </span>


            <span class="formelespan">
                <span class="eleheadertext">
                        Daire Kat :
                        </span>
                    <select list="dairekatlist" name="ilanVerDaireKat" class="input" class="input" placeholder="Daire Kat List" autocomplete="off">
                   
                            @foreach (DaireKat DaireKa in Model.DaireKatListe)
                            if (DaireKa.DaireKat1 == detaygonder.BulunduguKat)
                            {
                                <option selected>@DaireKa.DaireKat1</option>

                            }
                            else
                            {
                                <option>@DaireKa.DaireKat1 </option>
                            }
                        </select>
                   
                        
                  </span>

                  <span  class="formelespan">
                      <span class="eleheadertext">
                      Bina Kat Sayısı:
                      </span>
                <select list="toplamkatlist" name="ilanVerToplamKat" class="input" class="input" placeholder="Toplam Kat List" autocomplete="off">
                      
                            @foreach (ToplamKat ToplamKatList in Model.ToplamKatListe)
                            if (ToplamKatList.ToplamKatAdi == detaygonder.ToplamKat)
                            {
                                <option selected>@ToplamKatList.ToplamKatAdi </option>

                            }
                            else
                            {
                                <option>@ToplamKatList.ToplamKatAdi </option>
                            }
                        </select>
                   </span>


            <span class="formelespan">
                <span class="eleheadertext">
                    Bina Yaşı
                    </span>
                        <select  name="ilanVerBinaYas" class="input" placeholder="Bİna Yasi List" autocomplete="off" />
                        
                            @foreach (BinaYasi Binayas in Model.BinayasiListe)
                            if (Binayas.BinaYasi1 == detaygonder.BinaYasi)
                            {
                                <option selected>@Binayas.BinaYasi1 </option>

                            }
                            else
                            {
                                <option>@Binayas.BinaYasi1 </option>
                            }
                        </select>
                        </span>


                        <span  class="formelespan">
                            <span class="eleheadertext">
                            Site İçerisinde mi ?
                            </span>
                          <select list="sitechecklist" name="ilanVerSiteCheck" class="input" placeholder="Site Check List" autocomplete="off" />
                      
                            @foreach (IsinSite IsinSit in Model.SiteCheckListe)
                            if (IsinSit.IsinSite1 == detaygonder.SiteIcerisinde)
                            {
                                <option selected>@IsinSit.IsinSite1  </option>

                            }
                            else
                            {
                                <option>@IsinSit.IsinSite1 </option>
                            }
                        </select>
                        </span>


                        <span  class="formelespan">
                            <span class="eleheadertext">
                                Kimden
                            </span>
                      <select name="ilanVerKimdenCheck" class="input" placeholder="Kimden List" autocomplete="off" />
                       
                            @foreach (Kimden KimdenList in Model.KimdenListe)
                               if(KimdenList.KimdenAdi == detaygonder.Kimden)
                            {
                                <option selected>@KimdenList.KimdenAdi </option>

                            }
                            else
                            {
                                <option>@KimdenList.KimdenAdi </option>
                            }
                        </select>
                         </span>

                         <span  class="formelespan">
                             <span class="eleheadertext">
                                 Ödeme Tür
                             </span>
                         <select name="ilanVerOdemeTip" class="input" placeholder="Odeme Tur List" autocomplete="off" />
                       
                            @foreach (OdemeTur OdemeTurList in Model.OdemeTurListe)
                            if (OdemeTurList.OdemeTurName == detaygonder.OdemeTuru)
                            {
                                <option selected>@OdemeTurList.OdemeTurName </option>

                            }
                            else
                            {
                                <option>@OdemeTurList.OdemeTurName </option>
                            }
                        </select>
                      </span>
                            
                                    
                    
                 
                 
            <input type="text" id="long_Description" value="@detaygonder.Aciklama" hidden>
            <div class="aciklamaarea">

            <textarea id="summernote" name="ilanVerAciklama" style="background-color:white;"></textarea>
           
                <input class="kaydetbtn" type="submit" value="Kaydet">
               
    </form>
            </div>
            </div>
           
  
  
    

</div>







<div class="container-fluid">


    <form id="kaydir" method="post" action="/Home/resimOrder">  </form>

    
        string drag = "drag";
        string div = "div";
        int i = 1;


        <ul id="sortable">
            @foreach (Picture resim in Model.GonderiResimler)
            {



                <li id="resim">
                    <img id="@drag@i" src="/imgs/@resim.ResimName" /> <input type="text" name="ids" value="@resim.ResimId" hidden form="kaydir" />
                    <form id="resimsil" action="/Home/DeleteImage/" method="post"> <input type="text" name="silinecekresimid" value="@resim.ResimId" hidden /><input class="btn btn-danger" type="submit" value="X"></form>
                </li>



                i++;
            }
        </ul>
    }
    <input type="submit" class="btn btn-warning" form="kaydir" value="kaydet">Kaydet</>



    <div class="row">
      

        <div class="gallery">
          
        </div>
    </div>
</div>













<form method="post" action="/Home/ImagesUpload" enctype="multipart/form-data">
    @foreach (KirayaVerme gonderikayitid in Model.ResimGonderiDetay)
    {
        <input type="hidden" name="postid" value="@gonderikayitid.IlanId" />
    }

    <input type="file" multiple name="ifiles" id="gallery-photo-add">
    <input class="btn btn-success" id="yukleme" type="submit" value="Çoklu Yükle">
</form>


<script>
    $('#summernote').summernote({
        placeholder: 'Aciklama ',
        tabsize: 1,
        height: 400,
        disableResizeEditor: true,
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font',],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],

        ]

    });

    var description = $('#long_Description').val();
    $('#summernote').summernote('code', description);
</script>
