@using EvlerKiralik.DAL.Entities
@using Microsoft.AspNetCore.Http
@using System.Security.Claims



@model dynamic
@{
    ViewData["Title"] = "KiralikEvler";
    Layout = "~/Views/Shared/MenuLayout_.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/IlanDetay.css")" asp-append-version="true" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

@*<script>
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: "dd.mm.yy"
            , duration: "fast"
        });
    });
</script>

<script>
    $(function () {
        $("#datepicker2").datepicker({
            dateFormat: "DD.MM.YYYY"
            , duration: "fast"
        });
    });
</script>
*@


<script>
    $(document).ready(function () {
        // filter
        $('nav a').on('click', function (event) {
            event.preventDefault();
            // current class
            $('nav li.current').removeClass('current');
            $(this).parent().addClass('current');
            
       

            // set new heading
            $('h1.heading').text($(this).text());

            // filter link text
            var category = $(this).text().toLowerCase().replace(' ', '-');

            // remove hidden class if "all" is selected
            if (category == 'all-projects') {
                $('ul#gallery li:hidden').fadeIn('slow').removeClass('hidden');
            } else {
                $('ul#gallery li').each(function () {
                    if (!$(this).hasClass(category)) {
                        $(this).hide().addClass('hidden');
                    } else {
                        $(this).fadeIn('slow').removeClass('hidden');
                    }
                });
            }
            return false;
        });
        // lightbox
        $('ul#gallery a').on('click', function (event) {
            event.preventDefault();
         
            var link = $(this).find('img').attr('src');
            $('.gallery img').attr('src', '');
            $('.gallery img').attr('src', link);
            $('.gallery').fadeIn('slow');
            $('#postdetails').attr("style", "visibility:hidden");
        });
        // close lightbox
        $('.gallery').on('click', function (event) {
            event.preventDefault();
            $('.gallery').fadeOut('slow');
            $('#postdetails').attr("style", "visibility:visible");

        });
    });
</script>


<script>
    $(function () {
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
                "opens": "center",
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": " - ",
                "applyLabel": "Kaydet",
                "cancelLabel": "Vazgeç",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "Paz",
                    "Pzt",
                    "Sal",
                    "Çar",
                    "Per",
                    "Cum",
                    "Cmt",
                    


                ],
                "monthNames": [
                    "Ocak",
                    "Şubat",
                    "Mart",
                    "Nisan",
                    "Mayıs",
                    "Haziran",
                    "Temmuz",
                    "Ağustos",
                    "Eylül",
                    "Ekim",
                    "Kasım",
                    "Aralık"
                ],
                "firstDay": 1,
            },

        });
    });
</script>


 @foreach (KirayaVerme post in Model.ilan)
    {
<div>

        <div class="headertext "><p>@post.IlanAdi</p>  </div>
       <div class="row">
         
  <div class="column rightt" >             
        
            <div id="projects">
                <ul id="gallery">
                         @foreach (Picture kapakpic in Model.postpics)
                        {
                            @if(kapakpic.PostId == post.IlanId)
                            {
                        <li ><a href="#"><img src="/imgs/@kapakpic.ResimName"></a></li>
                            }
                        }
                 
                </ul>
               
            <!-- modal gallery -->
            <div class="gallery">
                <a class="close" href="#">
                    <i>
                    <span class="bar"></span>
                    <span class="bar"></span>
                    </i>
                </a>
                <img src="">
            </div>
      


            </div>
  </div>
  <form method="get" action="/Home/Booking/" id="resform">           </form>
            <div class="column leftt">
                <ul id="postdetails" class="module">
                <li>
                    <i class='bx bx-current-location'></i> @post.IlanIl.ToUpper() / @post.IlanIlce / @post.IlanMahalle / @post.IlanIlce
                </li>
      
                    <li>
                        <i class="fa-solid fa-building-columns"></i>  Ev Türü :<a class="aciklama"> @post.EvTip </a>| <i class="fa-solid fa-cube"></i>   m2  <a class="aciklama">@post.M2Brut</a> (brüt) |  <a class="aciklama">@post.M2Net</a> (net)
                    </li>
                    <li>
                        <i class="fa-solid fa-cubes"></i> Oda Sayısı: <a class="aciklama">@post.OdaSayisi</a> | <i class="fa-solid fa-bath"></i> Banyo Sayısı: <a class="aciklama">@post.BanyoSayisi</a> | <i class="fa-solid fa-kaaba"></i> Balkon sayısı: <a class="aciklama">@post.Balkon</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-building-shield"></i> Site İçinde : <a class="aciklama">@post.SiteIcerisinde </a>| <i class="fa-solid fa-couch"></i> Eşya Durumu :<a class="aciklama"> @post.Esyali </a>| <i class="fa-solid fa-house-fire"></i> Isınma : <a class="aciklama">@post.IsitmaTuru</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-house-medical-circle-exclamation"></i> Bina Yaşı: <a class="aciklama">@post.BinaYasi</a> | <i class="fa-solid fa-building-flag"></i> Toplam Kat :<a class="aciklama"> @post.ToplamKat</a> | <i class="fa-solid fa-monument"></i> Bulunduğu Kat :<a class="aciklama"> @post.BulunduguKat</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-hand"></i> Kimden : <a class="aciklama">@post.Kimden </a>| <i class="fa-regular fa-calendar"></i> Kiralama Dönemi :<a class="aciklama"> @post.KiralamaDonemi </a> | <i class="fa-solid fa-toolbox"></i> Aidat : <a class="aciklama">@post.Aidat</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-stopwatch"></i> Minimum Kiralama Süresi :<a class="aciklama"> @post.MinimumSure</a> | <i class="fa-solid fa-receipt"></i> Kira Tutarı :<a class="aciklama" id="kiratutarcallback"> @post.KiraTutari</a>
                    </li>
                      
                    <li >

                        <i class="fa-solid fa-calendar-plus"></i> Rezervasyon Dönemi Seç :

                            <input type="text" id="daterangeid" name="datetimes"  class=":form-control" form="resform"/>
                        <input type="datetime" id="startdateinput" name="startdate" form="resform" hidden>
                        <input type="datetime" id="enddateinput" name="enddate" form="resform" hidden>

                        <input type="text" value="@post.IlanId" name="postid" form="resform" hidden>
                            @if (User.Identity.Name != null)
                            {
                                <input type="text" value="@User.Claims.FirstOrDefault(c => c.Type == "UserId").Value" name="userid" hidden>
                            }
                         

                    </li>
                    <li>
                        <i class="fa-regular fa-money-bills-simple"></i> Tahmini Fiyat : <div  id="pricecallback"></div>
                    </li>
                </ul>
                       <button type="submit" class="custom-btn btn-15" form="resform">Submit</button>
                        
                  
         
             

                <script>
                    var startdateinput = document.getElementById("startdateinput");
                    var enddateinput = document.getElementById("enddateinput");
                    $('#daterangeid').on('apply.daterangepicker', function (ev, picker) {
                        var startDateValue = picker.startDate.format('YYYY-MM-DD');
                        var endDateValue = picker.endDate.format('YYYY-MM-DD');
                        console.log(typeof (endDateValue));
                        console.log("start date= " + startDateValue + " end date= " + endDateValue);
                        enddateinput.value = "";
                        enddateinput.value = endDateValue;
                        startdateinput.value = "";
                        startdateinput.value = startDateValue;

                      
                               
                                   var endDate = endDateValue
                                   var startDate = startDateValue
                                   var Price = document.getElementById("kiratutarcallback").innerText;
                                    console.log(Price)
                                    $.ajax({
                                url: '/Home/FiyatHesapla',
                                data: { p: Price,startdateT : startDate ,enddateT : endDate },
                                        type: "POST",
                                        dataType: "Json",
                                        success: function (data) {

                                            console.log(data);
                               
                                    $('#pricecallback').empty();
                               
                                console.log("removed");

                                $('#pricecallback').append("<div class='animate__animated animate__bounceInRight'> <a class='aciklama'>   " + data + " ₺ </a></div>");

                                            
                                        
                                    }
                                    });
                                    });
                       
                           
          

            
                </script>


            </div>


  

          
        </div>

  
</div>
}


