@using EvlerKiralik.DAL.Entities
@using Microsoft.AspNetCore.Http
@using System.Security.Claims



@model dynamic
@{
    ViewData["Title"] = "KiralikEvler";
    Layout = "~/Views/Shared/MenuLayout_.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/IlanDetay.css")" asp-append-version="true" />



<div>
    @foreach (KirayaVerme post in Model.ilan)
    {
        <div class="headertext"><p>@post.IlanAdi</p>  </div>
       <div class="row">
          
  <div class="column right" style="background-color:#aaa;">




  </div>

  <div class="column left" style="background-color:#bbb;">
   
              <ul>
                 <li>
                   @post.UserId
                    </li>
                    <li>
                    @post.IlanIl
                      </li>             
                <li>
                    @post.IlanIlce
                 </li>
              
                <li>
                    <button style="border:1px solid red;" type="button" class="btn btn-success">Success</button>
                </li>
             </ul>
              
  </div>
            
</div>

    }

</div>
